<dialog class="mdl-dialog alert-dialog">
  <h4 class="mdl-dialog__title">Regenerating...</h4>
  <div class="mdl-dialog__content">
    <p>
      Please be patient as screenshots are baked. Try reloading in a couple minutes. 
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" onclick="document.querySelector('.alert-dialog').close()">Ok!</button>
    
  </div>
</dialog>